@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url(../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

h1, p, li {
  font-family: 'PlayfairDisplay', arial, sans-serif;
}

figcaption {
  font-family: 'PlayfairDisplay-Italic', arial, sans-serif;
}
